<turbo-frame id="summary_response">
<div class="summary_div">
  <p class="fs-6"><%= location %><%= summary %></p>
  <table class="summary_table">
    <tr>
      <td>Current temp will show here</td>
      <td>High / Low will show here</td>
      <td>MPH winds will show here</td>
    </tr>
  </table>
</div>
</turbo-frame>