<turbo-frame id="location_response">
<div class="summary_div">
<% if erred %>
    <p class="fs-6">Location Response: <%= locations %></p>
  <% else %>
    <p class="fs-6">Location Response: <%= locations %> from: <%= location %>, Total Locations: <%= total %></p>
  <% end %>

</div>
</turbo-frame>