<div class="weather_div">
  <p class="text-left fs-2">Weather Forecast</p>
  <figcaption class="blockquote-footer text-left">
    Data supplied by <cite title="Source Title">NOAA.gov</cite>,
    GeoLocation Data supplied by <cite title="Source Title">OpenCage</cite>
    <br/>Full Local forecast, Text Only and Summary available
  </figcaption>

  <%= form_with url: 'geo_location', remote: true, method: 'POST', class: 'forecast_form', data: { turbo_frame: "location_response" }, id: 'location_form' do %>
    <%= text_field_tag :location,
                       params[:location],
                       placeholder: 'Enter city, state or zip I.E: Salt Lake City, UT or 84101',
                       class: 'weather_input' %>
    <%= submit_tag 'Go', class: 'btn btn-primary' %>
  <% end %>

  <turbo-frame id="location_response">
  </turbo-frame>

<turbo-frame id="summary_response">
</turbo-frame>
</div>
<div class="footer_tag">
  <figcaption class="blockquote-footer text-left">
    Data supplied by <cite title="Source Title">NOAA.gov</cite>,
    GeoLocation Data supplied by <cite title="Source Title">OpenCage</cite>
    <br/>Search for forecast
  </figcaption>
</div>