<div class="weather_div">
<p class="text-left fs-2">Weather Forecast</p>
  <figcaption class="blockquote-footer text-left">
    Data supplied by <cite title="Source Title">NOAA.gov</cite>
    <br />Full Local forecast, Text Only and Summary available
  </figcaption>
<%= form_with url: 'summary', method: :get, local: true, class: 'forecast_form' do %>
  <div class="inputform">
    <%= text_field_tag :location,
                       params[:location],
                       placeholder: 'Enter city, state or zip I.E: Salt Lake City, UT or 84101',
                       class: 'weather_input' %>
    <%= submit_tag 'Go', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>