/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.forecast_form{
    max-width: 600px;
    min-width: 450px;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 20px;
}
.weather_input{
    width: 450px;
    padding: 8px;
    border-radius: 8px;
}
.weather_div{
    padding: 20px;
}
.text-left{
    padding-left: 50px;
    padding-bottom: 10px;
}
.weather_div{
    padding: 20px;
    min-width: 500px;
    max-width: 700px;
    border-radius: 8px;
}

.summary_div{
    max-width: 600px;
    min-width: 450px;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 30px auto;
    padding: 20px;
}
.summary_table{
    background-color: rgb(11, 94, 215);
    padding: 20px;
    color: white;
}
.summary_table td{
    padding: 20px;
}